.voice, .pos, .trans {
    font-family: Arial, Microsoft Yahei;
    font-size: 16px;
}

.text {
    font-weight: bold;
    font-family: Arial, Microsoft Yahei;
    font-size: 20px;
}

.pos {
    padding-top: 10px;
    color: #888683;
}