keyboard==0.13.5
langid==1.1.6
mouse==0.7.1
py_auto_starter==0.0.1
pyperclip==1.8.2
PyQt5==5.15.2
PyQt5_Frameless_Window==0.2.1
pyqt5Custom==1.0.1
PyQt_Fluent_Widgets==0.2.3
pyqtkeybind==0.0.9
PyQtWebEngine==5.15.2
requests==2.27.1
requestspr==0.0.3
retry==0.9.2
sihodictapi==0.1.22