.text, .voice, .pos, .trans {
    font-family: Arial, Microsoft Yahei;
    font-size: 14px;
}

.text {
    font-weight: bold;
}

.pos {
    padding-top: 10px;
    color: #888683;
}

.soundLink img {
    height: 18px;
    width: 18px;
}
