.pron-label, .trans-result-label {
    font-family: "PingFang SC Medium";
    font-size: 14px;
}
.text-label {
    font-family: "Hiragino Mincho ProN W6";
    font-size: 20px;
}
.pron-label {
    color: #3d454c;
    line-height: 1.4;
}
